@import '@styles/border-utils';
@import '@styles/margin-utils.scss';
@import '@styles/mixins';

.create-book-page {
  padding: 24px 16px;
  @extend .rounded-lg;

  h2 {
    margin: 0 0 24px 0;
  }

  .ant-card {
    max-width: 600px;
    @include box-shadow(rgba(0, 0, 0, 0.1));
  }
}
