@import '@styles/variables';
@import '@styles/mixins';
@import '@styles/flex-utils';

.grid-item {
  flex-basis: 20%;
  -ms-flex: auto;
  min-width: 25%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.book-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include box-shadow(rgba(0, 0, 0, 0.1));
  overflow: hidden;
  transition: transform 0.2s;
  width: 100%;
  padding: 0;

  .cursor-pointer {
    cursor: pointer;
  }

  .ant-card-body {
    padding: 20px;
  }

  &:hover {
    transform: translateY(-5px);
  }

  .book-cover-wrapper {
    text-align: center;
    background-size: cover;
    overflow: hidden;

    .ant-image {
      aspect-ratio: 1 / 1.5;
      display: flex;
      justify-content: center;

      .ant-image-img {
        vertical-align: middle;
        height: auto;
        width: 100%;
      }
    }
  }

  .book-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .book-author {
    padding-bottom: 20px;
    display: block;
    font-size: 1rem;
    color: $color-dark-brown;
  }

  .date {
    color: #999;
    font-size: small;
  }

  .action-bar {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    button {
      margin-right: $spacing-small;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 1333px) {
  .grid-item {
    flex-basis: 25%;
  }
}

@media (max-width: 1073px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media (max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media (max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
    .book-item {
      min-width: 100%;
    }
  }
}
