@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/padding-utils';
@import '../../styles/margin-utils';
@import '../../styles/border-utils';
@import '../../styles/flex-utils';
@import '../../styles/responsive-utils';
@import '../../styles/text-utils';

.grid-item {
  flex-basis: 20%;
  -ms-flex: auto;
  min-width: 33%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.book-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include box-shadow(rgba(0, 0, 0, 0.1));
  overflow: hidden;
  transition: transform 0.2s;
  width: 100%;
  // max-width: 300px;

  .ant-card-body {
    padding: 24px 0 0 0;
  }

  &:hover {
    transform: translateY(-5px);
  }

  .book-cover-wrapper {
    text-align: center;
    background-size: cover;
    overflow: hidden;
    align-items: center;
    height: 200px;

    .book-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .book-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .book-author {
    padding-bottom: 20px;
    display: block;
    font-size: 1rem;
    color: $color-dark-brown;
  }

  .date {
    color: #999;
    font-size: small;
  }

  .action-bar {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    button {
      margin-right: $spacing-small;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media (max-width: 1073px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media (max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media (max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
    .book-item {
      min-width: 100%;
    }
  }
}
