@import './variables';

.m-0 {
  margin: 0;
}
.m-1 {
  margin: $spacing-small;
}
.m-2 {
  margin: $spacing-medium;
}
.m-3 {
  margin: $spacing-large;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: $spacing-small;
}
.mt-2 {
  margin-top: $spacing-medium;
}
.mt-3 {
  margin-top: $spacing-large;
}

.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: $spacing-small;
}
.mr-2 {
  margin-right: $spacing-medium;
}
.mr-3 {
  margin-right: $spacing-large;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: $spacing-small;
}
.mb-2 {
  margin-bottom: $spacing-medium;
}
.mb-3 {
  margin-bottom: $spacing-large;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: $spacing-small;
}
.ml-2 {
  margin-left: $spacing-medium;
}
.ml-3 {
  margin-left: $spacing-large;
}
