@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow($color: rgba(0, 0, 0, 0.1)) {
  box-shadow: 0 2px 4px $color;
}

@mixin responsive-font($min-size, $max-size) {
  font-size: $min-size;

  @media (min-width: 600px) {
    font-size: calc(
      #{$min-size} + (#{$max-size} - #{$min-size}) * ((100vw - 600px) /
            (1200 - 600))
    );
  }

  @media (min-width: 1200px) {
    font-size: $max-size;
  }
}
