@import '../styles/variables';

.favorites-page {
  padding: $spacing-large;

  h2 {
    margin-bottom: $spacing-medium;
  }

  .books-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: $spacing-large;
  }
}
