.logo-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  margin: 16px;
}

.ant-layout-sider-light {
  background: #fff;
  min-height: 100vh;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.ant-menu-light .ant-menu-item-selected {
  background-color: #e6f7ff;
}

.ant-menu-item a {
  display: block;
  color: inherit;
  text-decoration: none;
}

@media (max-width: 555px) {
  .logo-vertical {
    opacity: 0;
  }
}
